[user]
	name = Tom Fleet
	email = tomfleet2018@gmail.com
	signingkey = C3AAC1D75CA06086
[core]
	excludesfile = ~/.gitignore
	editor = code --wait
	autocrlf = false
[pull]
	rebase = true
[init]
	defaultBranch = main
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    external = difft
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	program = gpg
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[fetch]
	prune = true
